.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0px 100px 0px;
}

#formdiv {
  width: 350px;
  height: 400px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  font-family: Tahoma, Verdana, sans-serif;
  /* background-color: rgb(27, 46, 53); */
}
#form {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.LI {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
input {
  /* width: 300px; */
  width: auto;
  /* height: 10px; */
  padding: 10px;
  font-size: 16px;
  border-radius: 0%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
label {
  padding: 10px;
  /* justify-content: flex-start; */
}
#submit {
  width: 100%;
  /* width: 320px; */
  padding: 15px 10px 15px 10px;
  /* margin: 20px 10px 20px 10px; */
  margin: 20px 0px 20px 0px;
  background-color: rgb(43, 196, 138);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  /* font-family: Tahoma, Verdana, sans-serif; */
}
div#IFM {
  margin: auto;
  width: 560px;
  height: 450px;
  text-align: center;
}

#map {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 0, 0);
}

header #contact a {
  border: 1px solid rgb(43, 196, 138);
  background-color: rgb(43, 196, 138);
}
