#maindiv {
  display: flex;
  font-family: Tahoma, Verdana, sans-serif;
  background-color: rgb(27, 46, 53);
  color: #ffffff;
  justify-content: space-around;
  padding: 50px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
#ftrlogo {
  width: 200px;
  border-radius: 10px 35px 10px 35px;
  background-color: rgba(255, 255, 255);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
}
.GIT2 {
  display: none;
}
.GIT:hover {
  .GIT1 {
    display: none;
  }
  .GIT2 {
    display: inline;
  }
}
footer div a:hover {
  color: rgb(43, 196, 138);
}
