body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  /* padding: 0px; */
  /* margin: none; */
}
header li {
  list-style-type: none;
}
#navbar {
  height: 80px;
  background-color: rgb(27, 46, 53, 0.8);
  display: flex;
  position: fixed;
  top: 0%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 5px; */
  /* margin: 5px 5px 5px 5px; */
}
#logo {
  /* color: rgb(255, 255, 255); */
  margin: 10px;
  width: auto;
  font-size: 20px;
}
#logoimg {
  width: 120px;
  /* border-radius: 5px 20px 5px 20px; */
  /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 1); */
  /* background-color: #ffffff; */
}

#buttons {
  margin: 10px;
  display: flex;
}
.buttons {
  margin: 2px;
  width: auto;
}
header a {
  /* border: 1px solid blue; */
  color: rgb(255, 255, 255);
  font-family: Tahoma, Verdana, sans-serif;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
}
.buttons a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(27, 46, 53);
  /* box-shadow: 2px 2px 10px 2px rgb(210, 210, 210); */
}
#contact a {
  border: 1px solid rgb(43, 196, 138);
  /* border-radius: 25px; */
}
#contact a:hover {
  border: 1px solid rgb(43, 196, 138);
  background-color: rgb(43, 196, 138);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(27, 46, 53, 0.5);
}
::-webkit-scrollbar-thumb {
  background: rgb(43, 196, 138, 0.6);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 196, 138);
}
