.content {
  /* margin-top: 150px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body div img {
  border-radius: 25px;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.2);
}
section div a {
  padding: 10px;
}
section {
  font-family: Tahoma, Verdana, sans-serif;
  width: auto;
  font-size: 20px;
  color: rgb(27, 46, 53);
  height: 360px;
}
#heading {
  font-size: 42px;
}
#cntct {
  color: rgb(0, 0, 25);
  font-size: 18px;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid rgb(43, 196, 138);
}
#readmore {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid rgb(255, 99, 42);
  background-color: rgb(255, 99, 42);
}
#cntct:hover {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(43, 196, 138);
  background-color: rgb(43, 196, 138);
}
#homebtns {
  /* height: 50px; */
  display: flex;
  justify-content: space-evenly;
}
header #home a {
  background-color: rgb(255, 255, 255);
  color: rgb(27, 46, 53);
}
